*.0f
*.0inc
*.LOG
*.OUT
*.RES
*.SP?
*.a
*.d
*.db
*.deps
*.exe
*.mfx
*.mic
*.mod
*.o
*.pid
*.pvd
*.pyc
*.vtk
*.vtp
*~
.build
.dirstamp
Makefile
Makefile.in
Makefile.usr.in
VTU_FRAME_INDEX.TXT
aclocal.m4
autom4te.cache
build
compile
configure
dist
gui/uifiles/*.py
install-sh
tmp.*
*.swp
*.nfs*
TAGS
