*.0f
*.0inc
*.LOG
*.OUT
*.RES
*.SP?
*.a
*.d
*.db
*.deps
*.exe
*.mfx
*.mic
*.mod
*.nfs*
*.o
*.pid
*.pvd
*.pyc
*.swp
*.vtk
*.vtp
*~
.build
.dirstamp
Makefile
Makefile.in
Makefile.usr.in
TAGS
VTU_FRAME_INDEX.TXT
aclocal.m4
autom4te.cache
build
compile
configure
dist
install-sh
mfixgui/uifiles/*.py
tmp.*
