include README.md USER_GUIDE.md INSTALL.md CHANGES Bug_Fixes DISCLAIMER NOTICE mfix_user_guide.pdf configure_mfix
recursive-include benchmarks *
recursive-include build-aux *
recursive-include defaults *
recursive-include doc *
recursive-include legacy_tests *
recursive-include model *
recursive-include post_mfix *
recursive-include tests *
recursive-include tutorials *
