########################################################################
#                                                                      #
# Generic template for MFIX GUI *new* case.                            #
#                                                                      #
########################################################################

  RUN_NAME = 'MFIX01'
  DESCRIPTION = 'Example MFiX Simulation'

#_______________________________________________________________________
# RUN CONTROL SECTION

  RUN_TYPE = 'NEW'
  UNITS = 'SI'

  TIME =  0.0

  ENERGY_EQ = .F.
  SPECIES_EQ = .F.

  MOMENTUM_X_EQ(0) = .T.
  MOMENTUM_Y_EQ(0) = .T.
  MOMENTUM_Z_EQ(0) = .T.

#_______________________________________________________________________
# NUMERICAL SECTION



#_______________________________________________________________________
# GEOMETRY SECTION

  COORDINATES = 'CARTESIAN'

  XLENGTH  = 1.0    IMAX = 1
  ZLENGTH  = 1.0    KMAX = 1
  YLENGTH  = 1.0    JMAX = 1



#_______________________________________________________________________
# MATERIAL SECTION


! Gas Section
!---------------------------------------------------------------------//
  MW_AVG = 29.0


! PARTICLE SECTION
!---------------------------------------------------------------------//
  MMAX = 0



#_______________________________________________________________________
# OUTPUT CONTROL SECTION

  RES_DT =        0.1
  SPX_DT(1:9) = 9*0.1

  FULL_LOG = .T.

  RESID_STRING = 'P0' 'U0' 'V0'

#_______________________________________________________________________
# DMP SETUP

  NODESI = 1   NODESJ = 1   NODESK = 1
  CHK_BATCHQ_END = .T.
