<!doctype html>
<html>
  <head>
    <title>Pymfix browser interface</title>
    <script type = "text/javascript"
            src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='mfix.js') }}"/></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='mfix.css') }}"/>
  </head>
  <body>

   <h1>Browser interface for controlling MFIX</h1>

    <span id="status"></span><p/>

    <a href="#" class="toggler">&nbsp;</a>
    <label id='running'>MFIX IS RUNNING</label><p/>
    <pre style='clear:both'><code id='curlstartstop' onclick="selectText(this)">curl -X PUT http://localhost:5000/stop</code></pre>

    <button id="step">STEP</button><p/>
    <pre style='clear:both'><code id='curlstep' onclick="selectText(this)">curl -X PUT http://localhost:5000/step</code></pre>

    <button id="get">GET</button>
    mfix.
  <select id="getmodname" class="opts">
    <option value="param">param</option>
    <option value="compar">compar</option>
    <option value="fldvar">fldvar</option>
    <option value="discretelement">discretelement</option>
    <option selected value="run">run</option>
  </select>
  .
    <input id="getvarname" type="text" value="time" size="80"/><p/>
    <textarea id="getresponse" rows="10" cols="100">blah</textarea><p/>
    <pre style='clear:both'><code id='curlget' onclick="selectText(this)">curl -X GET http://localhost:5000/get -d "varname=mfix.run.time"</code></pre>

    <button id="set">SET</button>
    mfix.
  <select id="setmodname" class="opts">
    <option value="param">param</option>
    <option value="compar">compar</option>
    <option value="fldvar">fldvar</option>
    <option value="discretelement">discretelement</option>
    <option selected value="run">run</option>
  </select>
  .
    <input id="setvarname" type="text" value="dt" size="80"/><p/>
    <input id="setvalue" type="text" value="0.01" size="80"/><p/>
    <pre style='clear:both'><code id='curlset' onclick="selectText(this)">curl -X POST http://localhost:5000/set -d "varname=mfix.run.dt&varvalue=0.01"</code></pre>
  </body>
</html>
