<!doctype html>
<html>
  <head>
    <title>Pymfix browser interface</title>
    <script type = "text/javascript"
            src="{{ url_for('static', filename='jquery-2.2.0.min.js') }}"
            ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='mfix.js') }}"/></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='mfix.css') }}"/>
  </head>
  <body>

   <h1>Browser interface for controlling MFIX</h1>

    <a href="#" class="toggler off">&nbsp;</a>
    <label id='running'>MFIX IS STOPPED</label><p/>
    <pre style='clear:both'><code id="curlstartstop" onclick="selectText(this)">curl -X PUT http://localhost:5000/stop</code></pre>

    <button id="step">STEP</button>
    for
    <input id="stepcount" type="text" value="1" size="8"/>
    timestep(s)<p/>
    <pre style='clear:both'><code id="curlstep" onclick="selectText(this)">curl -X PUT http://localhost:5000/step</code></pre>

pause at time
    <input id="pausetime" type="text" value="" size="8"/><p/>
    <pre style='clear:both'><code id="curlpausetime" onclick="selectText(this)">curl -X PUT http://localhost:5000/step</code></pre>

    <button id="backupres">BACKUP RES</button><p/>
    <pre style='clear:both'><code id="curlbackupres" onclick="selectText(this)">curl -X PUT http://localhost:5000/backupres</code></pre>

    <button id="reinit">REINITIALIZE</button><p/>
    <pre style='clear:both'><code id="curlreinit" onclick="selectText(this)">curl -X PUT http://localhost:5000/reinit</code></pre>

    <button id="exit">EXIT</button>(writes RES files, then terminates)<p/>
    <pre style='clear:both'><code id="curlexit" onclick="selectText(this)">curl -X PUT http://localhost:5000/exit</code></pre>

    <button id="abort">ABORT</button>(terminates without writing RES files)<p/>
    <pre style='clear:both'><code id="curlabort" onclick="selectText(this)">curl -X PUT http://localhost:5000/abort</code></pre>

    <button id="get">GET</button>
    mfix.
  <select id="getmodname" class="opts">
    <option value="param">param</option>
    <option value="compar">compar</option>
    <option value="fldvar">fldvar</option>
    <option value="discretelement">discretelement</option>
    <option selected value="run">run</option>
  </select>
  .
    <input id="getvarname" type="text" value="time" size="80"/><p/>
    <textarea id="getresponse" rows="10" cols="100">blah</textarea><p/>
    <pre style='clear:both'><code id='curlget' onclick="selectText(this)">curl -X GET http://localhost:5000/get -d "varname=mfix.run.time"</code></pre>

    <button id="set">SET</button>
    mfix.
  <select id="setmodname" class="opts">
    <option value="param">param</option>
    <option value="compar">compar</option>
    <option value="fldvar">fldvar</option>
    <option value="discretelement">discretelement</option>
    <option selected value="run">run</option>
  </select>
  .
    <input id="setvarname" type="text" value="dt" size="80"/><p/>
    <input id="setvalue" type="text" value="0.01" size="80"/><p/>
    <pre style='clear:both'><code id='curlset' onclick="selectText(this)">curl -X POST http://localhost:5000/set -d "varname=mfix.run.dt&varvalue=0.01"</code></pre>

<div class="notice info"><p>This is a an info notice, it provides feedback of a neutral nature to the user.</p></div>

<div class="notice success"><p>This is a success notice, it provides feedback of a positive nature to the user.</p></div>

<div class="notice warning"><p>This is a warning notice, it provides feedback of a potentially negative nature to the user.</p></div>

<div class="notice error"><p>This is an error notice, it provides feedback of a negative nature to the user.</p></div>

  </body>
</html>
