In order to run the MFiX GUI you will need to install the following packages:

qtpy
vtk
numpy

pyqtgraph - need at least version 0.10.0 for Qt5 support

#future - not used currently
#thermochem - not used currently

# To run the included tests, these packages are required:
xvfbwrapper
nose
